@{ 
    Layout = "~/Views/Shared/Shared.cshtml";
}

<title>Index Page</title>

<fieldset>
    <div class="m-3">
        <p>This is the index page of the Railway System site.</p>
        <a href="/Schedule/Index">Search...</a>
    </div>
</fieldset>

