@{ 
    Layout = "~/Views/Shared/Shared.cshtml";
}

<title>Index Page</title>

<fieldset>
    <div class="border border-3 shadow bg-white p-3 m-3">
        <p>This is the index page of the Railway System site.</p>
        <div class="grid">
            <div class="modal-header d-flex justify-content-center">
                <h3>GET STARTED</h3>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-header text-center">
                            FIND INFORMATION
                        </div>
                        <div class="card-img text-center m-1">
                            <img src="~/Content/icons/calendar-64.png" />
                        </div>
                        <div class="card-body">
                            <p>Planning to travel by train? Need to know when your train will depart?</p>
                            <p>Make a quick query and find out!</p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="/Schedule/Index">Search</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-header text-center">
                            BUY E-TICKETS
                        </div>
                        <div class="card-img text-center m-1">
                            <img src="~/Content/icons/form-64.png" />
                        </div>
                        <div class="card-body">
                            <p>Don't want to wait at the ticket office?</p>
                            <p>Register now, so you can buy e-tickets with ease!</p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="/Home/Register">Register</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-header text-center">
                            LOG IN
                        </div>
                        <div class="card-img text-center m-1">
                            <img src="~/Content/icons/login-64.png" />
                        </div>
                        <div class="card-body">
                            <p>Already registered?</p>
                            <p>By logging in, you can see more of what we offer.</p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="/Home/Login">Log in</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer" style="height: 50vh; background-color: rgb(109 109 109)">
        --- FOOTER ---
    </div>
</fieldset>

