@{ 
    Layout = "~/Views/Shared/Shared.cshtml";
}

<title>Index Page</title>

<fieldset>
    <div class="border border-3 shadow bg-white p-3 m-3">
        <p>This is the index page of the Railway System site.</p>
        <div class="grid">
            <div class="row d-flex justify-content-center">
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-header text-center">
                            Find information
                        </div>
                        <div class="card-img text-center">
                            <img src="~/Content/gleise-1555348_960_720.png" width="50%" />
                        </div>
                        <div class="card-body">
                            Planning to travel by train? Need to know when your train will depart? Make a quick query and find out!
                        </div>
                        <div class="card-footer text-center">
                            <a href="/Schedule/Index">Search</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-header text-center">
                            Buy e-tickets
                        </div>
                        <div class="card-img text-center">
                            <img src="~/Content/gleise-1555348_960_720.png" width="50%" />
                        </div>
                        <div class="card-body">
                            Don't want to wait at the ticket office? Register now and learn how to easily buy e-tickets!
                        </div>
                        <div class="card-footer text-center">
                            <a href="/Home/Register">Register</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-header text-center">
                            Log in
                        </div>
                        <div class="card-img text-center">
                            <img src="~/Content/gleise-1555348_960_720.png" width="50%" />
                        </div>
                        <div class="card-body">
                            Already registered?
                        </div>
                        <div class="card-footer text-center">
                            <a href="/Home/Login">Log in</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

    </div>
</fieldset>

