@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Shared.cshtml";
}

    <fieldset>
        <div class="grid bold">
            <div class="row">
                <div class="col-3">
                    Name
                </div>
                <div class="col-3">
                    Type
                </div>
            </div>
        </div>
        <hr />
        @foreach (var item in (List<Train>)ViewData["items"])
        {
            <div class="grid">
                <div class="row">
                    <div class="col-3">
                        @(item.Name)
                    </div>
                    <div class="col-3">
                        @foreach (var trainType in (List<TrainType>)ViewData["trainTypes"]) { 
                            if(item.TypeId == trainType.Id)
                            {
                                <div class="col-3">
                                    @(trainType.Name)
                                </div>
                                break;
                            }
                        }
                        </div>
                    <div class="col-1">
                        <a href="/Train/Delete?id=@(item.Id)">Delete</a>
                    </div>
                </div>
            </div>
        }
        <div>
            <a href="/Train/Create">Create New...</a>
        </div>
    </fieldset>

