@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Shared.cshtml";
    User loggedUser = (User)Session["loggedUser"];
    bool canCreateEditDelete;
    if (loggedUser == null)
    {
        canCreateEditDelete = false;
    }
    else
    {
        canCreateEditDelete = new RailwaySystem.Repositories.UsersRepository()
                                  .CanAccess(loggedUser.Id, RailwaySystem.Repositories.UsersRepository.Levels.FULL_ACCESS);
    }
}

@model RailwaySystem.ViewModels.Train.SearchVM

<fieldset>
    <div class="wrapper container mt-3 p-3 bg-light">
        <div class="row modal-title m-3">
            <div class="col-lg-6">
                <h3>Trains</h3>
            </div>
            <div class="col-lg-6">
                <form action="/Train/Index" method="post" class="input-group rounded">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Search by train name" })
                    <input type="submit" value="Search" class="btn btn-info" />
                    <a href="/Train/Index" class="btn btn-light">Clear</a>
                </form>
            </div>
        </div>
        <hr />
        <div class="grid m-3">
            @foreach (var item in (List<Train>)ViewData["items"])
            {
                <div class="row">
                    <div class="col-3">
                        @(item.Name)
                    </div>
                    @if (canCreateEditDelete)
                    {
                        <div class="col-1">
                            <a href="/Train/Edit/@(item.Id)">Edit...</a>
                        </div>
                    }

                </div>
            }
            @if (((List<Train>)ViewData["items"]).Count == 0)
            {
                <div class="row">
                    @Html.ValidationMessage("NoRecordsFound")
                </div>
            }
        </div>
        @if (canCreateEditDelete)
        {
            <div>
                <a href="/Train/Create">Create New...</a>
            </div>
        }

    </div>

</fieldset>

