@model RailwaySystem.ViewModels.User.DetailsVM
@{
    ViewBag.Title = "AddCredit";
    Layout = "~/Views/Shared/Shared.cshtml";
}

<h2>Add Credit</h2>

<form action="/User/AddCredit" method="post">
    @Html.HiddenFor(m => m.Id)
    <div class="row">
        <div class="col-3">
            @Html.TextBoxFor(m => m.Credit, new { @type = "decimal", @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <input class="form-control" type="submit" value="Confirm" />
        </div>
    </div>
</form>