@model RailwaySystem.ViewModels.Ticket.BuyVM
@{
    ViewBag.Title = "Buy";
    Layout = "~/Views/Shared/Shared.cshtml";
}

<fieldset>
    <div>
        <h1>Buying ticket for @Model.StartStationName - @Model.EndStationName</h1>
    </div>
</fieldset>

