
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Shared.cshtml";
}

<h2>Index</h2>

<div>
    @foreach (var ticket in (List<Ticket>)ViewData["items"])
    {
        <p>@ticket.Id - @ticket.BeginStation - @ticket.EndStation</p>
        <a href="/Ticket/DownloadResource?id=@(ticket.Id)">Download PDF</a> <hr />
    }
</div>