
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Shared.cshtml";
}

    <fieldset>
        <div class="grid bold">
            <div class="row">
                <div class="col-3">
                    Track
                </div>
            </div>
        </div>
        <hr />
        <div class="grid">
            @foreach (var item in (Dictionary<int, string>)ViewData["routes"])
            {
            <div class="row">
                <div class="col-3">
                    @(item.Value)
                </div>

                <div class="col-1">
                    <a class="btn btn-danger" href="/Track/Delete?id=@(item.Key)">Delete</a>
                </div>
            </div>
                    }
                    <div>
                        <a href="/Track/Create">Create New...</a>
                    </div>
                </div>
    </fieldset>

